doctype html 
html 
    head
        title APP
    
        link(rel="stylesheet" href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body 
        
        .container
            block content
            br
            a(href='/movie/add') Rate A Movie
            hr
            footer
                p Copyright  Arshi &copy 2020

        script(src="/bower_component/bootstrap/dist/js/bootstrap/.js")
        script(src="/bower_component/jquery/dist/jquery.js")